.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 20;
}

.nav-item {
	margin: 0 15px;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.nav-item a {
	color: #ffffff;
	text-decoration: none;
}

.btn-primary:hover {
	background-color: #155a8a;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
